.menu {
	background-color: var(--biller-header-background-color);
	width: 100%;
	height: auto;
	padding: 0 10px;
	position: fixed;
	margin: 0px;
}

.menu .navbar-left > li  {
	
	margin: 0px;
	text-decoration: blink;
	color: var(--biller-header-left-font-color);
	font-weight: bold;
	padding-top: 5px;
	pading-left: 35px;
	font-size:22px; 
	letter-spacing: 0.08em; 
	font-family: sans-serif
}

.menu  .navbar-right > li >a {
	font-size: 15px;
	color: var(--biller-header-right-font-color);
	padding: 10px 5px;
	letter-spacing: 0.07em;
	
	
}

.menu  .navbar-right > li > a > span{
	padding-left: 10px;
	padding-right: 10px;
}
.menu  .navbar-right > li > a:hover {
	background-color: var(--biller-header-right-links-background-color-hover);
	color: var(--biller-header-font-color-hover);
}



