.billerProgress .board {
	/*width: 75%;
	margin: 60px auto;
	margin-bottom: 0;
	box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
	
}

.billerProgress .board .nav-tabs {
	position: relative;
	/* border-bottom: 0; */
	/* width: 80%; */
	margin: 40px auto;
	margin-bottom: 0;
	box-sizing: border-box;
	padding-left: 17%;
}

.billerProgress .board>div.board-inner>.nav-tabs {
	border: none;
	text-decoration:none;
}

.billerProgress p.narrow {
	width: 60%;
	margin: 10px auto;
}

.billerProgress .liner {
	height: 2px;
	background: var(--biller-status-linear-bar-color);
	position: absolute;
	width: 50%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}

.billerProgress .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
	color: #555555;
	cursor: default;
	/* background-color: #ffffff; */
	border: 0;
	border-bottom-color: transparent;
	outline: 0;
}

.billerProgress span.round-tabs {
	width: 70px;
	height: 70px;
	line-height: 70px;
	display: inline-block;
	border-radius: 100px;
	background: white;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 25px;
}

.billerProgress span.round-tabs.one {
	border: var(--biller-status-round-tab-border);
	color: var(--biller-status-round-tab-icon-color);
	background: var(--biller-status-round-tab-background);
}

.billerProgress li.active span.round-tabs.one, li.active span.round-tabs.two,
	li.active span.round-tabs.three, li.active span.round-tabs.four, li.active span.round-tabs.five
	{
	
	border: var(--biller-status-round-tab-border);
	color: #fff;
}

.billerProgress span.round-tabs.two {
	 border: var(--biller-status-round-tab-border); 
	color: var(--biller-status-round-tab-icon-color);
	background: var(--biller-status-round-tab-background);
}

.billerProgress span.round-tabs.three {
	border: var(--biller-status-round-tab-border); 
	color: var(--biller-status-round-tab-icon-color);
	background: var(--biller-status-round-tab-background);
}

.billerProgress span.round-tabs.four {
	border: var(--biller-status-round-tab-border);
	color: var(--biller-status-round-tab-icon-color);
	background: var(--biller-status-round-tab-background);
}

.billerProgress span.round-tabs.five {
	border: 2px solid #ddd;
	color: #ddd;
	background: var(--biller-status-round-tab-background);
}

.billerProgress .nav-tabs>li.active>a span.round-tabs {
	background: var(--biller-status-round-tab-active);
}

.billerProgress .nav-tabs>li {
	width: 20%;
}

.billerProgress .nav-tabs>li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}

.billerProgress .nav-tabs>li a:hover {
	background: transparent;
}

.billerProgress .tab-content {
	
}

.tab-pane {
	position: relative;
	padding-top: 50px;
}

.billerProgress .btn-outline-rounded {
	padding: 10px 40px;
	margin: 20px 0;
	border: 2px solid transparent;
	border-radius: 25px;
}

.billerProgress .btn.green {
	background-color: #69cb95;
	/*border: 2px solid #5cb85c;*/
	color: #ffffff;
}

@media ( max-width : 585px ) {
	.billerProgress .board {
		width: 90%;
		height: auto !important;
	}
	.billerProgress span.round-tabs {
		font-size: 16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.billerProgress .tab-content .head {
		font-size: 20px;
	}
	.billerProgress .nav-tabs>li a {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.billerProgress li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}
	.billerProgress .btn-outline-rounded {
		padding: 12px 20px;
	}
}

.billerProgress .nav-tabs>li a span i{
	/* color: var(--biller-status-round-tab-icon-color); */
	margin-top: 20.5px;
}

.billerProgress .billerwell{
		margin-left: 350px;
		width: 50%;
		height: 150px;
		border: 1px solid black;
		text-align: center;
		padding-bottom: 50px;
}


.billerProgress .table{
	border-radius: 15px; 
	box-shadow: 0 0 5px #6666b2;
	
}

.billerProgress .table thead{
	/* background-color: #6666b2; */
	color: #083b66;
	
}

.billerProgress .table tbody{
	/* background-color: #6666b2; */
	color: #6666b2;
	
}


.billerProgress li.active span{
	border: none;	
	/* box-shadow: 0 0 15px #908477e6; */
}


.billerProgress .tooltip-inner{
	background-color: #aeaef7;
}


.billerProgress .tooltip.top .tooltip-arrow{
	border-top-color: #aeaef7;
}




.billerProgress .tooltip .tooltip-inner.active{
	background-color: #6666b2;
}


.billerProgress .tooltip.top .tooltip-arrow.active {	
	border-top-color: #6666b2;
}