#customize .modal-dialog{
	width: 1000px;
}

#customize .modal-dialog .modal-body{
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 30px;
}

 .multiselect-container{
	max-width: 220px;;
}

.multiselect-filter{
	margin-left: 3px;
	width: 200px;
} 


.multiselect-container > li {	
	padding-top: 3px;
	padding-bottom: 3px
}

.multiselect-container .active > a{
	background-color: #fff;
	color: #000;
}

.multiselect-container .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 3px;   
    background-color: #fff;
    margin-left: 8px;
	margin-top: 5px;
	border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
    background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
/* .multiselect-container .checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.multiselect-container .checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.multiselect-container .checkbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}