
:root{
	
	--biller-login-border-color: #00ffff;
	--biller-login-input-bottom-color: #fff;
	--biller-login-top-heading-color: #fff;
	--biller-login-input-text-color: #fff;
	--biller-login-btn-border-color: #fff;
	--biller-login-btn-border-hover-color: #6666b2;
	--biller-login-btn-font-color-hover: #fff;
	--biller-login-btn-text-color: #fff;
	--biller-login-placeholder-color: #fff;
	--biller-login-btn-hover-color: #6666b2;
	--biller-body-background-color: #fff;	
	--biller-header-background-color: #083b66;
	--biller-header-left-font-color: #fff;
	--biller-header-right-font-color: #fff;
	--biller-header-font-color-hover: #fff;
	--biller-header-right-links-background-color-hover: #000080;
	--biller-home-navtab-background-color: #6666b2;	
	--biller-home-navtab-background-color-hover: #00ffff ;
	--biller-home-navtab-background-color-active: #6666b2;
	--biller-home-navtab-font-color: #fff;
	--biller-home-navtab-font-color-hover: #00ffff;
	--biller-home-navtab-font-color-active: #00ffff;
	--biller-panel-border-color: transparent;
	--biller-panel-header-background-color: #6666b2;
	--biller-panel-header-font-color: #fff;
	--biller-panel-main-icon-label-color: #6666b2;
	--biller-panel-form-input-color: #6666b2;
	--biller-panel-footer-background-color: #fff;	
	--biller-button-border-color: #6666b2;
	--biller-button-font-color: #6666b2;
	--biller-button-background-color: #6666b2;
	--biller-button-font-color-hover: #fff;
	--biller-button-background-color-hover: #6666b2;
	--biller-button-outline-background-color: transparent;
	--biller-input-group-addon-color: #4c4ca6;
	--biller-report-button-icon-color: #6666b2;
	--biller-well-background-color: #fff;
	--biller-header-font-color: #fff;
	--biller-alert-message-font-color: #000;
	--biller-header-close-icon-color: #fff;
	--biller-status-round-tab-border: #aeaef7;
	--biller-status-linear-bar-color: #aeaef7;
	--biller-status-round-tab-active: #6666b2;
	--biller-status-round-tab-icon-color: #fff;
	--biller-status-round-tab-background: #aeaef7;
	--biller-form-control-border-color: #4c4ca6;
	--biller-icon-disabled-color: #bbbbdd;
	--biller-main-footer-background-color: #fff;
	
}
body {
	 background: var(--biller-body-background-color);	
	letter-spacing: 0.07em;
}


@media all and (max-width:724px) {
	.nav-tabs>li>a>span {
		display: none;
	}
	.nav-tabs>li>a {
		padding: 5px 5px;
	}
}


.checkbox label:after, .radio-inline label:after {
	content: '';
	display: table;
	clear: both;
}

.checkbox .cr, .radio-inline .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: .25em;
	width: 1.3em;
	height: 1.3em;
	float: left;
	margin-right: .5em;
}

.radio-inline .cr {
	border-radius: 50%;
}

.checkbox .cr .cr-icon, .radio-inline .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;
	left: 20%;
}



.radio-inline .cr .cr-icon {
	margin-left: 0.04em;
}

.checkbox label input[type="checkbox"], .radio-inline label input[type="radio"]
	{
	display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon, .radio-inline label input[type="radio"]+.cr>.cr-icon
	{
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
	.radio-inline label input[type="radio"]:checked+.cr>.cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr, .radio-inline label input[type="radio"]:disabled+.cr
	{
	opacity: .5;
}

.btn{
	border-radius: 0px;
	color: var(--biller-button-font-color);
	border-color: var(--biller-button-background-color);
	letter-spacing: 0.1em;
}

.btn-outline {
	background-color: var(--biller-button-outline-background-color);
	color: var(--biller-button-font-color);
	transition: all .5s;
	border-radius: 0px;
	border-color: var(--biller-button-border-color);
	
}

.btn-primary{	
	background-color: var(--biller-button-outline-background-color);
	color: var(--biller-button-font-color);
	transition: all .5s;
	border-radius: 0px;
	border-color: var(--biller-button-border-color);
	
}
.btn-primary:hover{
	background-color: var(--biller-button-background-color-hover);
	color: var(--biller-button-font-color-hover);
	transition: all .5s;
}


.btn.btn-outline:hover, .btn-primary.btn-outline:hover, .btn-success.btn-outline:hover,
	.btn-info.btn-outline:hover, .btn-warning.btn-outline:hover,
	.btn-danger.btn-outline:hover {
	background-color: var(--biller-button-background-color-hover);
	color: var(--biller-button-font-color-hover);
	transition: all .5s;
}


.biller-btn{
	padding-left: 40px;
	padding-right: 40px;
	width: auto;
	
}

.well {
	background-color: var(--biller-well-background-color);
}

/* .selectpicker {
	width: 50px;
} */

.biller-row {
	height: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.biller-label {
	color: var(--biller-panel-main-icon-label-color);
	font-weight: 600;
	font-size: 17px;
}

.biller-panel-label{
	padding-left: 55px;
}

.biller-radio-label{
	color: var(--biller-panel-form-input-color);
	font-weight: 500;
	font-size: 15px;
}

.biller-month-dropdown {
	margin-left: -15px;
	margin-top: -5px;
	
}

.biller-year-dropdown {
	margin-top: -5px;
	margin-left: -40px;
	
}

.biller-radio-align{
	margin-left: -40px;
}

.biller-panel {
	margin-left: 50px;
}


.panel{
	border-color: var(--biller-panel-border-color);
	box-shadow: 0 0 10px #DDD;
} 

.panel .panel-heading{
	background-color: var(--biller-panel-header-background-color);
	color: var(--biller-panel-header-font-color);
	font-weight: bold;
}

.panel-footer{
	background-color: var(--biller-panel-footer-background-color);
	padding-top: 20px;
}

.biller-footer{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}




.biller-weekend-input{
	margin-top: -5px;
	margin-left: 35px;
	
}

.biller-weekend-input .input-group input[type="text"],
.biller-weekend-input .input-group .input-group-addon{
	height: 33.6px;
}


.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}

.modal-header {
    height: 50px;
	color: var(--biller-header-font-color);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	background-color: var(--biller-header-background-color);
	letter-spacing: 0.07em;
	
}
.modal-header > button.close{
	color: var(--biller-header-close-icon-color);
	opacity: 0.5;
}

.modal-header > button.close:hover{
	transition: all .5s;
	opacity: 1;
}

.modal-footer{
	text-align: center;
}

.biller-modal-dropdown{
	margin-top: -5px;
}

.biller-modal-label{
	margin-left: 10px;
}

.input-group-addon{
	color: var(--biller-input-group-addon-color);
	border: 1px solid var(--biller-input-group-addon-color);
}

.form-control{
	border: 1px solid var(--biller-form-control-border-color);
}


/* body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('biller-login-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.9;
    z-index: -999;
} */



/* #reportPanel:before{
	
	content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://images3.alphacoders.com/233/233999.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


#reportSelection:before{
	
	content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://images3.alphacoders.com/233/233999.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.tab-content:before{
	
	content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('https://images3.alphacoders.com/233/233999.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.biller-Home{
	background-color: transparent;
	background-image: transparent;
} */