.tabs {
    width:100%;
    display:inline-block;
    }

ul.tab-links{
	margin:0px; padding:0px;
	margin-top:40px;
	list-style: none;
	overflow: hidden;
	
}

ul.tab-links li{
	list-style:none;
    display:inline;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
	
	
 
        .tab-links a {
            padding:8px 14px 8px 14px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#5149C7;
            font-size:16px;
            font-weight:600;
            color:white;
            transition:all linear 0.15s;
			text-decoration:none;
			-webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	   -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
	        	border: 0px solid #000000;
	-webkit-transition: padding 0.2s ease, margin 0.2s ease;
       -moz-transition: padding 0.2s ease, margin 0.2s ease;
        -o-transition: padding 0.2s ease, margin 0.2s ease;
        -ms-transition: padding 0.2s ease, margin 0.2s ease;
            transition: padding 0.2s ease, margin 0.2s ease;
        }
		
		.tab-links li:first-child a {
			z-index: 3;
			-webkit-border-top-left-radius: 8px;
			-moz-border-radius-topleft: 8px;
			border-top-left-radius: 8px;
		}
		.tab-links li:nth-child(2) a {
			z-index: 2;
		}
		.tab-links li:last-child a {
			z-index: 1;
			-webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
			-moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
	        box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
			-webkit-border-top-right-radius: 8px;
			-moz-border-radius-topright: 8px;
			border-top-right-radius: 8px;
		}
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
		z-index: 4;
		outline: none;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:10px;
		border:1px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
		height: 100%;
		overflow:auto;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }